<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Management</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
        <h1>Upload an Image</h1>

    <p id="error-message"></p>
    <p id="succes-message"></p>

    <form id="upload-form" method="POST" enctype="multipart/form-data" action="/dashboard">
        <input type="file" name="file" id="image-input" accept=".jpg,.jpeg,.png" required>
        <button type="submit" onclick="getWine()">Upload</button>
    </form>
    <script src="./static/upload.js"></script>
    <h1>Wine Cellar Management</h1>
    <table style="display: none;" id="table">
        <thead>
            <th>Image</th>
            <th>Wine Name</th>
            <th>Type</th>
            <th>Vintage (Year)</th>
            <th>Producer</th>
            <th>Grape</th>
            <th>Classification</th>
            <th>Region</th>
        </thead>
        <tbody id="data-output">

        </tbody>
    </table>
    <script src="./static/script.js"></script>
</body>
</html>